body {
	color: #333;
	padding-top: 70px;
	padding-bottom: 70px;
	/* font-family: 'Open Sans','Helvetica Neue',Arial,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
 */	font-family: 'Open Sans','Helvetica Neue',Arial,'PingFang SC', 'Lantinghei SC', 'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans;
}
.navbar-right-btn {
	margin-top: 8px;
	margin-right: 10px;
}
.navbar-right-btn {
	outline: none;
}

.login-btn {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.col-with-border{
	border: 1px solid #ccc;
	border-radius: 10px;
}
.text-title{
	margin-top: 10px;
	margin-bottum: 10px;
}
.problemSubTitle{
	width: 110px;
	border-left: 2px solid #FF6E7C;
	background-color: #f3f3f3;
	text-indent: 10px;
	box-shadow: 1px 2px 4px #888888;
	margin-top: 20px;
	margin-bottom: 20px;
}
#problemDetail p.problemContent{
	font-size: 16px;
	margin-left: 50px;
	line-height: 180%;
}
.placeholder{
	margin-left: 10px;
	margin-right: 10px;
}
.marginRight{
	margin-right: 40px;
}
.marginTop{
	margin-top: 20px;	
}
.table>thead>tr>th{
	border-bottom: 2px solid #009788;  
}
.table>tbody>tr>td>.btn{
	padding: 2px 8px; 
}
.codeSubmitLabel{
	font-weight: 400;
	font-size: 14px;
}
.table>thead>tr>th{
	font-weight: 500;
}
select.form-control{
	border-radius: 0px;
    border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.nextStep{
	padding: 6px 42px;
}
textarea{
	width: 100%;
	height: 150px;
	border-radius: 10px;
	border: 1px solid #ccc;
}
#testCasesList li:hover{
	cursor: pointer
}
#testCasesList li.selected{
	background-color: #999;
}
#standardAnswerRow-group1{
	font-size: 14px;
	padding-right: 15px;
   padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
}
.standardAnswerRow-control{
	padding-top:25px;
}
.label-control{
	padding-left:10px;
	font-weight: 400;
	font-size: 14px;
}
.leftItem-control{
	float:right;
}
.columWidth{
	width: 110px;
}
#indexTitle{
	font-size: 25px;
	text-align:center;
	padding-top: 50px;
	padding-bottom: 40px;
	color: #4e627a;
}
#index-content{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	height: 273px;
}
.index-left-div{
	width: 495px;
	height: 273px;
	float: left;
}
.index-left-div img{
	border-radius: 5px;
}
.index-right-div{
	margin-left: 80px;
	font-size: 18px;
	height: 273px;
	float: left;
}
.index-right-div p {
	color: #4e627a;
}
.index-right-line1{
	padding-top: 70px;
}
.index-right-line2{
	padding-top: 20px;
}
.index-right-line3{
	padding-top: 20px;
}
.index-right-div a{
	color: rgb(30, 208, 225);
}
img.shadow-img{
	width: auto;
    height: auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px;
    border-radius: 4px; 
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 15px rgba(0,0,0,0.2);
    box-shadow: 0 0 15px rgba(0,0,0,0.2); 
    border: 0px;
    display: block;
    outline: none;
}